<div class="top">
    <h1>Japhotonへようこそ！</h1>
    <p>お気に入りの「写真」を投稿しよう</p>

    <!--<%= link_to "articles", articles_path %>-->
    <a href="/users/sign_up" class="btn btn-success active btn-lg">新規登録</a>
    <a href="/users/sign_in" class="btn btn-info active btn-lg">ログイン</a>
</div>