<div class="top">
    <h1><strong>Japhotonへようこそ！</strong></h1>
    <p>あなたが撮った素敵な写真とその場所を共有しよう</p>

    
    <a href="/users/sign_up" class="btn btn-success active btn-lg">新規登録</a>
    <a href="/users/sign_in" class="btn btn-info active btn-lg">ログイン</a><br>
    <br><%= link_to "投稿一覧へ", articles_path %>
</div>