@import 'bootstrap-sprockets';
@import 'bootstrap';

/* universal */

body {
  padding: 60px 15px 0;
}

a.widelink {
   display: block;
   width: 100%;
   height: 100%;
   text-decoration: none;
   line-height:70px;
}

// .top {
//     width:100%;
//     height:500px;
//     background-image: url("../headerphoto.jpeg");
//     background-position:center;
//     background-size:cover;
//     border: 1px solid #CCC;
// }